body {
  background: url("../img/hangar-floor.jpg");
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ul {
  list-style-type: none;
  padding: 0px; }

input {
  border: none;
  background-color: black;
  color: white;
  font-size: 24px; }

nav {
  color: black; }

h4 {
  color: white;
  text-align: center;
  min-height: 50px; }

.color-switcher {
  position: relative;
  margin-bottom: 20px;
  height: 65px;
  text-align: center; }
  .color-switcher .color-sample {
    position: relative;
    margin: 0;
    padding: 0;
    top: 10px;
    height: 42px;
    width: 42px; }
  .color-switcher canvas {
    position: relative;
    top: 10px;
    margin: 0;
    padding: 0;
    height: 42px;
    width: 42px; }
  .color-switcher .tri-right {
    top: 10px; }
  .color-switcher .tri-left {
    top: 10px; }

.overlay-right {
  width: 300px;
  position: fixed;
  right: 0px;
  top: 10%; }

.ship-config {
  margin-top: 12%; }

.display-panel {
  background-color: black;
  padding: 0px 15px;
  border: 1px solid white; }
  .display-panel h4 {
    border-bottom: 1px solid white;
    padding: 10px; }

.ship-container {
  height: 525px; }

.ship-stats {
  border-bottom: 1px solid white;
  padding: 20px 0px; }
  .ship-stats h5 {
    margin-bottom: 5px; }

.stat-bar {
  height: 10px;
  margin-bottom: 15px; }

.header {
  position: fixed;
  text-align: center;
  top: 0px;
  left: 0px;
  height: 12%;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid white; }
  .header h4 {
    margin-top: 0px;
    min-height: 30px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  .header .rank-display {
    font-size: 18pt;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  .header .name-display {
    font-size: 18pt;
    text-align: center;
    border: 1px dotted rgba(30, 144, 255, 0.51); }

.bg-stripes {
  position: fixed;
  width: 5%;
  height: 100%;
  background-color: crimson; }

.left-stripe {
  top: 0px;
  left: 30%; }

.right-stripe {
  top: 0px;
  right: 30%; }

.bg-bottom-border {
  position: fixed;
  bottom: 100px;
  left: 0px;
  height: 48px;
  width: 100%;
  background: url("../img/bottom-repeating.jpg") repeat-x; }

.bg-control-panel {
  border-top: 1px solid white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  background-color: black; }
  .bg-control-panel .control-panel-display {
    border: 1px solid #2660A1;
    color: #2660A1;
    background-color: rgba(49, 126, 210, 0.49);
    text-align: center;
    height: 100%; }
    .bg-control-panel .control-panel-display h4 {
      color: #2660a1;
      min-height: 10px; }
    .bg-control-panel .control-panel-display button {
      color: #59c8ff;
      background-color: transparent;
      border: 0px solid #2660A1;
      width: 100%; }
      .bg-control-panel .control-panel-display button .tri-up {
        border-bottom: 30px solid #1ef3ff; }
      .bg-control-panel .control-panel-display button .tri-down {
        border-top: 30px solid #1ef3ff; }
    .bg-control-panel .control-panel-display .mission-change {
      padding: 20px 30px 18px; }
    .bg-control-panel .control-panel-display .launch {
      padding: 26px 30px 12px; }
  .bg-control-panel .current-mission {
    padding: 9px;
    border-left: 0px solid #2660A1;
    border-right: 0px solid #2660A1; }
  .bg-control-panel .control-panel-display:hover {
    height: 100%;
    background-color: rgba(54, 156, 255, 0.49);
    border: 1px solid #1ef3ff;
    color: rgba(255, 252, 240, 0.51); }
    .bg-control-panel .control-panel-display:hover h4 {
      color: #1ef3ff; }

.ship-display {
  text-align: center; }
  .ship-display .ship-change {
    position: relative;
    bottom: -30px;
    background-color: black;
    border: 1px solid white; }
    .ship-display .ship-change h4 {
      padding-top: 15px; }

.device-selector {
  position: relative;
  margin: 0 auto 35px;
  text-align: center; }

.device-details {
  min-height: 300px;
  text-align: center; }
  .device-details .device-image {
    margin-bottom: 10px;
    text-align: center; }
  .device-details .stat {
    text-align: left; }

.mini-tri-left {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 10px;
  left: 10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white; }

.mini-tri-right {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 10px;
  right: 10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white; }

.tri-left {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 10px;
  left: 3px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white; }

.tri-right {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 10px;
  right: 3px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white; }

.tri-up {
  position: relative;
  top: -30px;
  width: 0;
  height: 0;
  border-bottom: 30px solid #317ed2;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent; }

.tri-down {
  position: relative;
  bottom: -25px;
  width: 0;
  height: 0;
  border-top: 30px solid #317ed2;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent; }

/*# sourceMappingURL=styles.css.map */
