<!DOCTYPE html>
<html lang="en" ng-app="shipViewerApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/css/tether.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/loadout.js"></script>
</head>
<body>
<article class="container hangar-bg" ng-controller="shipViewerController as shipViewer">
    <div class="bg-stripes left-stripe"></div>
    <div class="bg-stripes right-stripe"></div>
    <header class="row header">
        <h4>Welcome to the Hangar </h4>
        <input ng-model="shipViewer.pilot_data.name" type="text" class="name-display" placeholder="shipViewer.pilot_data.name">
        <p class="rank-display">Rank: {{shipViewer.pilot_data.rank}} </p>
    </header>
    <div class="row ship-config">
        <div class="col-sm-3">
            <div class="display-panel">
                <div class="row">
                    <h4>Ship Specs</h4>
                </div>
                <div class="row ship-stats">
                    <div ng-model="shipViewer.current_specs" ng-repeat="(stat, value) in shipViewer.current_specs track by $index" class="col-sm-6">
                        <h5>{{stat}}</h5>
                        <div class="stat-bar" style="width:{{value * 8}}px; background-color:{{shipViewer.getStatColor(value)}};">
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="display-panel">
                <div class="row">
                    <h4>Paint Job</h4>
                </div>
                <div class="row color-switcher">
                    <img id="sample-img" src="img/sample.png" class="color-sample">
                    <a class="tri-right" ng-click="shipViewer.nextShipColor()"></a>
                    <a class="tri-left" ng-click="shipViewer.prevShipColor()"></a>
                </div>
            </div>
            <div class="display-panel">
                <div class="row">
                    <h4>Insignia</h4>
                </div>
                <div class="row color-switcher">
                    <img id="sample-img" src="img/sample.png" class="color-sample">
                    <a class="tri-right" ng-click="shipViewer.nextShipColor()"></a>
                    <a class="tri-left" ng-click="shipViewer.prevShipColor()"></a>
                </div>
            </div>-->
        </div>
        <div class="col-sm-6 ship-display">
            <div class="row ship-container">
                <img id="ship-img" ng-model="shipViewer.selected_ship_idx" ng-src="{{shipViewer.current_ship.src}}" height="512" width="512"/>
            </div>
            <div class="row ship-change">
                <h4>{{shipViewer.current_ship.name}}</h4>
                <a class="tri-right click-next-ship" ng-click="shipViewer.nextShip()"></a>
                <a class="tri-left click-prev-ship" ng-click="shipViewer.prevShip()"></a>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="ship-loadout display-panel">
                <div class="row">
                    <h4>Loadout</h4>
                </div>
                <div class="row device-selector">
                    <img ng-mouseover="shipViewer.deviceInspectionTarget = shipViewer.current_loadout.main_weapon;" ng-src="{{shipViewer.current_loadout.main_weapon.src}}" height="64" width="96"/>
                    <h6>{{shipViewer.current_loadout.main_weapon.name}}</h6>
                    <a class="mini-tri-right click-next-main" ng-click="shipViewer.nextDevice('selected_primary_wep')"></a>
                    <a class="mini-tri-left click-prev-main" ng-click="shipViewer.prevDevice('selected_primary_wep')"></a>
                </div>
                <div class="row device-selector">
                    <img ng-mouseover="shipViewer.deviceInspectionTarget = shipViewer.current_loadout.secondary_weapon;" ng-src="{{shipViewer.current_loadout.secondary_weapon.src}}" height="64" width="96"/>
                    <h6>{{shipViewer.current_loadout.secondary_weapon.name}}</h6>
                    <a class="mini-tri-right click-next-secondary" ng-click="shipViewer.prevDevice('selected_secondary_wep')"></a>
                    <a class="mini-tri-left click-prev-secondary" ng-click="shipViewer.prevDevice('selected_secondary_wep')"></a>
                </div>
                <div class="row device-selector">
                    <img ng-mouseover="shipViewer.deviceInspectionTarget = shipViewer.current_loadout.device1;" ng-src="{{shipViewer.current_loadout.device1.src}}" height="64" width="96"/>
                    <h6>{{shipViewer.current_loadout.device1.name}}</h6>
                    <a class="mini-tri-right click-next-device1" ng-click="shipViewer.prevDevice('selected_device1')"></a>
                    <a class="mini-tri-left click-prev-device1" ng-click="shipViewer.prevDevice('selected_device1')"></a>
                </div>
                <div class="row device-selector">
                    <img ng-mouseover="shipViewer.deviceInspectionTarget = shipViewer.current_loadout.device2;" ng-src="{{shipViewer.current_loadout.device2.src}}" height="64" width="96"/>
                    <h6>{{shipViewer.current_loadout.device2.name}}</h6>
                    <a class="mini-tri-right click-next-device2" ng-click="shipViewer.prevDevice('selected_device2')"></a>
                    <a class="mini-tri-left click-prev-device2" ng-click="shipViewer.prevDevice('selected_device2')"></a>
                </div>
            </div>
        </div>
        <div class="display-panel overlay-right">
            <div class="row">
                <h4>Details</h4>
            </div>
            <div class="row device-details">
                <div ng-model="shipViewer.current_specs" ng-repeat="(stat, value) in shipViewer.deviceInspectionTarget track by $index">
                    <div ng-if="stat == 'name'">
                        <h5>{{value}}</h5>
                    </div>
                    <div ng-if="stat == 'src'">
                        <img class="device-image" ng-src="{{value}}" height="64" width="96"/>
                    </div>
                    <div class="col-sm-12" ng-if="stat == 'description'">
                        <p>{{value}}</p><h5>Stat Modifiers</h5>
                    </div>
                    <div ng-if="(stat != 'name') && (stat != 'src') && (stat != 'description')" class="col-sm-6 stat">
                        <h5>{{stat}}</h5>
                        <div class="stat-bar" style="width:{{value * 8}}px; background-color:{{shipViewer.getStatColor(value)}};">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-control-panel">
        <div class="container">
            <!--
            <div class="col-sm-3 control-panel-display">
                <button class="mission-change button" ng-click="shipViewer.openMissionSelect()">
                    <h4>Change Mission</h4>
                    <span class="tri-down"></span>
                </button>
            </div>
            <div class="col-sm-6 control-panel-display">
                <div class="current-mission"><h3>Current Mission: {{shipViewer.mission.name}}</h3><p>Other Pilots: {{shipViewer.mission.info}}</p></div>
            </div>
            <div class="col-sm-3 control-panel-display">
                <button class="launch button" ng-click="shipViewer.confirmShipConfig()">
                    <span class="tri-up"></span>
                    <h4>Launch!</h4>
                </button>
            </div>
            -->
        </div>
    </div>
    <div class="bg-bottom-border"></div>
</article>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.4/js/tether.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>

<!--<script type="text/javascript" src="jsx/source-compiled.js"></script>-->
</body>
</html>